<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <title>{{action}} {{model}}</title>
  <link rel="stylesheet" href="/public/assets/styles.css" />
</head>
<body class="bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-200">
<div class=" flex min-h-screen items-center justify-center">
  <div class="w-full max-w-2xl p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-2xl font-bold mb-6 text-gray-800">{{action}} New {{model}}</h1>

    {{#if error}}
      <div class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
        {{error}}
      </div>
    {{/if}}
    {{{body}}}
  </div>
</div>
</body>
</html>

